:root {
  /* colores */
  --background: #fbf8f5;
  --bg-metal: #ced4da;
  --bg-azul: #023047;
  --bg-naranja: #eb5e28;
  /* colores de textos */
  --text-color-blanco: #fafafa;
  --text-color-negro: #000000;
  --text-color-gris: #6666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  /* border: 1px solid red; */
}
header {
  background-color: var(--bg-azul);
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 65px;
  padding: 0px 40px;
  align-items: center;
  top: 0;
}
header h1 {
  color: var(--text-color-blanco);
  letter-spacing: 5px;
  font-weight: 600;
  text-decoration: underline;
}
.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
input {
  width: 200px;
  text-align: center;
  height: 30px;
}
hr {
  border: 1px outset;
  background-color: var(--bg-naranja);
  color: #33cc66;
  height: 5px;
  width: 100%;
}
.card-pizza {
  background-color: var(--bg-metal);
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
